@using SuggestionBoard.Data.ViewModel
@model SuggestionPaggingListVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="container" style="margin-bottom:1rem">

        <div class="row">
            <div class="col">
                <a id="btn-new-suggestion" class="btn btn-success btn-lg btn-block"
                   asp-controller="Suggestion" asp-action="Detail">Send New Suggestion</a>
            </div>
        </div>

        @await Html.PartialAsync("_ListToolbar", Model.ToolbarData)

        @await Html.PartialAsync("_SuggestionList", Model.Records)

        @await Html.PartialAsync("../Shared/_PaggingButtonGroup", Model.Pagging)

    </div>

</div>
